.card--container {
  width: 216px;
  margin: auto;

  .card--header-div {
    align-items: center;
    display: flex;
    height: 75px;
    justify-content: center;
  }

  h2 {
    @include font($primary, 1.5rem, 700, center);
    margin-bottom: 0;
  }

  p {
    @include font($secondary, 1.2rem, 400, center);
    margin: 5px 0;
  }
}

.card--image {
  height: 300px;
  border-radius: 12px;

  &:hover {
    cursor: pointer;
  }
}

.card--counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  

  button {
    @include button(inline-block, 25px, 10px auto, 150px);
    background-color: $light-grey;

    &:hover {
      background-color: $mid-blue;
    }
  }

  p {
    font-size: 1rem;
    margin: 5px 0;
    padding-right: 5px;
  }
}

.card--wishlist-price {
  @include font($secondary, 1rem, 500, center);
}
