.card--container {
  width: 216px;
  margin: 10px;
}

.card--image {
  height: 300px;
  border-radius: 12px;

  &:hover {
    cursor: pointer;
    transform: scale(1.4);
  }
}

.card--counter-container {
  display: flex;
  justify-content: flex-end;

  h1 {
    font-size: 1.5rem;
    margin: 5px 0;
    padding-right: 5px;
  }
}

