@mixin flex {
  display: flex
}

.card-area {
  background-color: lightgray;
}

.card-area--section {
  @include flex;
  flex-wrap: wrap;
}

.card--popup-hide {
  display: none;
}

.popup--div {
  @include flex;
  background-color: #A7B8BA;
  border-radius: 12px;
  height: 400px;
  padding: 20px;
  position: absolute;
  width: 700px;
  z-index: 2;

  h1, h2 {
    color: $dark-grey;
    font-family: $primary;
    margin: 0 auto;
    padding-left: 20px;
    text-transform: uppercase;
  }

  p {
    color: $dark-grey;
    font-family: $secondary;
    font-size: 1.5rem;
    padding-left: 20px;
  }

  .popup--list {
    color: $dark-grey;
    font-family: $secondary;
    font-size: 1.5rem;
    list-style: none;
    line-height: 2.4rem;
    text-transform: uppercase;
  }
  
  .popup--card-image {
    width: 250px;
    height: 350px;
    border-radius: 14px;
  }

  .popup--info {
    @include flex;
    justify-content: space-between;
    width: 400px;
  }

  .fa-times-circle {
    color: $light-grey;
    height: 20px;
    font-size: 2rem;
  }

  .fa-times-circle:hover {
    color: $dark-grey;
    cursor: pointer;
  }
}
