.controls--div {
  display: flex;
  justify-content: center;
}

.controls--input{
  border: transparent;
  border-radius: 5px 0 0 5px;
  height: 30px;
  width: 200px;
}

.controls--button {
  @include button(inline, 30px, 3px, 100px);
  background-color: $mid-grey;
  border-radius: 0 5px 5px 0;
  margin: 0;

  &:hover {
    background-color: $mid-blue;
  }
}

.controls--error {
  @include font($secondary, 18px, 500, center);
  color: tomato;
  margin: 20px auto;
  width: 200px;
}

.controls {
  position: relative;
}

.controls--suggestion-area {
  cursor: pointer;
  width: 200px;
  margin-left: 10px;
  margin-top: -5px;
  max-height: 100px;
  background-color: #ffffff;
  position: absolute;
  overflow: scroll;
  opacity: .9;
  z-index: 1;
}

.controls--suggestion {
  display: block;
  height: 20px;
  
  &:hover {
    background-color: lightblue;
  }
}