.deck--container {
  display: flex;
  flex-direction: column;
  width: 215px;
  margin: auto;

 

  div {
    display: flex;
    flex-direction: column;
  }
  
  .deck--header-div {
    display: flex;
    justify-content: center;
    height: 65px;
  }

  .deck--name {
    @include font($primary, 1.5rem, 700, center);
    margin-bottom: 0;
    // word-wrap: break-word;
  }

  .deck--signature {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 300px;
  }

  .deck--image {
    height: 150px;
    border-radius: 6px;
  }

  .deck--button {
    @include button(inline-block, 25px, 10px auto, 150px);
    background-color: $light-grey;
    color: $dark-grey;
    cursor: pointer;
    font-family: $secondary;
    font-size: 0.7rem;
    transition-duration: 0.5s;

    &:hover {
      background-color: $mid-blue;
    }
  }

  .deck--card-button {
    @include button(block, 35px, 10px auto, 150px);
    background-color: $light-grey;
    color: $dark-grey;
    cursor: pointer;
    transition-duration: 0.5s;

    &:hover {
      background-color: $light-green;
    }
  }
}

.price--value {
  @include font($secondary, 1.2rem, 400, center);
  margin: 5px 0;
}
