.header {
  border-bottom: 1px solid darkgray;
  display: flex;
  font-family: $primary;
  font-weight: 700;
  font-size: 1rem;
  justify-content: space-evenly;  
  height: 100px;
  width: 100%;
  color: $light-grey;
  background-color: $dark-grey;
  

  h1 {
    font-size: 2rem;
    font-weight: 400;
    margin: auto;
  }
}

.header--ul {
  list-style: none;
  display: flex;
  margin: 54px 10px 5px 0px;

  li {
    border-bottom: 4px solid transparent;
    height: 25px;
    margin: 20px 20px 5px 20px;
    text-transform: uppercase;
  }

  li:hover {
    border-bottom: 4px solid $magic-red;
    cursor: pointer;
  }
}
