.header {
  border-bottom: 1px solid darkgray;
  font-family: $primary;
  font-weight: 700;
  font-size: 1rem;
  height: 100px;
  width: 100%;
  color: $light-grey;
  background-color: $dark-grey;
  display: grid;
  grid-template-rows: 58px 42px;
  

  h1 {
    font-size: 2rem;
    font-weight: 400;
    margin: auto;
  }
}

.header--ul {
  list-style: none;
  display: flex;
  justify-self: end;
  margin-right: 20px;

  li {
    border-bottom: 4px solid transparent;
    height: 25px;
    margin: 0px 20px 5px 20px;
    font-family: $secondary;
    font-weight: 500;
    transition-duration: .5s;
  }

  li:hover {
    border-bottom: 4px solid $magic-red;
    cursor: pointer;
  }
}


