.list--h1 {
  @include list-h1();
}

.list--ul {
  padding-left: 10px;
  .list--li {
    @include list-item();
  }
}

.far,
.fas {
  @include symbols();
}

.listprice--span {
  display: block;
  padding-left: 20px;
  font-weight: 500;
}

.compare-builds--button {
  @include button(block, 30px, 0px auto, 150px);
}