.list--h1 {
  @include list-h1();
}

.list--ul {
  padding-left: 10px;
  .list--li {
    @include list-item();
    .listprice--span {
      display: block;
      padding-left: 20px;
      font-weight: 500;
    }
  }
}

.far,
.fas {
  @include symbols();
}

