@mixin list-item() {
  font-family: $secondary;
  font-size: 15px;
  font-weight: 700;
  list-style: none;
  margin-top: 8px;
}

@mixin symbols() {
  font-size: .75rem;
  padding-left: 5px;
}

@mixin heading($fontsize, $fontweight, $textalign) {
  font-family: $primary;
  font-size: $fontsize;
  font-weight: $fontweight;
  text-align: $textalign;
}

@mixin button($display, $height, $margin, $width) {
  display: $display;
  border-radius: 5px;
  font-family: $secondary;
  font-weight: 700;
  height: $height;
  margin: $margin;
  width: $width;
}
