@import url('https://fonts.googleapis.com/css?family=Amiri:400,700|Montserrat:400,500,700');

$primary: 'Amiri', serif;
$secondary: 'Montserrat', sans-serif;

$light-grey: #F4F0F1;
$mid-grey: #a7b8ba;
$dark-grey: #29292b;
$light-green: #ccdccd;
$mid-blue: #85bdbf;
$magic-red: #c8371b;
